html {
  height: 100%;
  width: 100%;
}

.row-container {
  width: 200px;
  height: 300px;
display: flex;
flex-direction: row;
  margin:50px auto 0 auto;
  align-items:space-between;
  justify-content:center;
  flex-wrap: wrap; 

}