*{
  margin: 0;
  padding: 0;
}

.logo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 33%;
  border: 3px; white solid;
  border-radius: 50%;
}

.navbar {
  display: flex
}
.navlist{
  width: 50%;
  background-color:black ;
  display: flex;
  justify-content: center;
  align-items: center;

}


ul {
   list-style-type: none;
   padding: 26px 30px;
   word-spacing: 15px;
   white-space: wrap;
   
}


.navlist li a {
text-decoration: none;
color :white;
}

.rightNav{
  background-color: beige;
  width: 50%;
  text-align: right;
}